<!DOCTYPE html>
<html>
<head>
	<title>{{ name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>{{ name }}</h1>
	<p>Temperature: {{ temperature }} (feels like: {{ heat_index }})</p>
	<p>Wet-Bulb Temperature: {{ wet_bulb_temperature }}</p>
	<p>Dew point: {{ dew_point }}</p>
	<p>Pressure: {{ pressure }}</p>
	<p>Relative humidity: {{ relative_humidity }}</p>
	<p>Gas resistance: {{ gas_resistance }}</p>
	<p>UV index: {{ uv_index }}</p>
	<p>Wind speed: {{ wind_speed }}</p>
	<p>Gust speed: {{ gust_speed }}</p>
	<p>Rainfall: {{ rainfall }}</p>
</body>
</html>
